.content {
    padding: 15px 0 0 65px;
    height: 100%;
}

.subtitle {
    font-size: 20px;
    color: #505050;
    line-height: 1.2;
    margin: 0 0 22px;
}

.title {
    line-height: 1.2;
    font-size: 35px;
    font-weight: 500;
    margin: 0 0 30px;
}

.username {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 22px;
    text-transform: uppercase;
}
